$fade-time: 0.3s;

.snack {
  visibility: hidden;
  z-index: 1;

  padding: 1rem;

  position: fixed;
  bottom: 0;
  width: 100%;
}

.snack.success {
  color: beige;
  background-color: rgb(79, 148, 135);
}

.snack.failed {
  color: beige;
  background-color: red;
}

.snack.show {
  visibility: visible;
  animation: fadein $fade-time, fadeout $fade-time 2.5s;
}

// keyframe
@keyframes fadein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
